<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
    </h:head>
    <h:body>
        <div align="center" class="container">
            <div align="center" class="navbar navbar-inverse" style="background-color:#f5e942"> 
                <div align= "center" class="navbar-brand">Kalenderverwaltungstool</div> 
            </div>
            
            <h:form id="loginForm" styleClass="form-horizontal">
                <h:panelGrid columns="2">
                    <h:outputText value="Vorname"/>
                    <h:inputText class="form-control" required="true" value="#{loginBean.firstName}"/>
                    <h:outputText value="Nachname"/>
                    <h:inputText styleClass="form-control" required="true" value="#{loginBean.lastName}"/>
                    <h:outputText value="Passwort"/>
                    <h:inputText styleClass="form-control" required="true" value="#{loginBean.pwd}"/>   
                    <h:commandButton value="Login" action="#{loginBean.login}" styleClass="btn btn-warning" style="background-color:#f5e942"/>
                    <h:button value="bypass" outcome="mainKVT"/>
                </h:panelGrid>
                   
            </h:form>
             </div>
    </h:body>
</html>

