<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <style type="text/css">
        table.table-bordered{
            border:1px solid black;
            margin-top:20px;
        }
        table.table-bordered > thead > tr > th{
            border:1px solid black;
        }
        table.table-bordered > tbody > tr > td{
            border:1px solid black;
        }
    </style>
    <h:head>
        <title>Kalenderverwaltungstool</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>

    </h:head>
    <h:body >
            <h:form>
                <h:panelGrid columns="2" styleClass="form-group">
                    <h:outputText class="p-3 mb-2 bg-secondary " value="Datum"/>
                    <h:inputText class="w-100 text-secondary" value="#{mainBean.date}"/>
                    <h:outputText class="p-3 mb-2 bg-secondary" value="Beginn"/>
                    <h:inputText class="w-100 text-secondary" value="#{mainBean.startAt}"/>
                    <h:outputText class="p-3 mb-2 bg-secondary" value="Dauer"/>
                    <h:inputText class="w-100 text-secondary" value="#{mainBean.duration}"/>
                    <h:outputText class="p-3 mb-2 bg-secondary" value="Raum"/>
                    <h:inputText class="w-100 text secondary" value="#{mainBean.room}"/>
                    <h:commandButton class="w-100 btn btn-warning" action="#{mainBean.add()}" value="add"/>
                </h:panelGrid>
                <h:dataTable headerClass="text-center bg-dark " styleClass="table-hover text-center table table-striped table-bordered" var="ter" value="#{service.allTermine}" cellspacing="5" >
                    <f:facet class="thead-dark bg-dark" name = "header">
                        <h:outputText  class= "font-weight-bold h2 bg-dark" value="Terminliste"/>
                    </f:facet>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText  value="Name"/>
                        </f:facet>
                        <h:outputText value="#{ter.datum}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText  value="Teacher"/>
                        </f:facet>
                        <h:outputText value="#{ter.dauer}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="edit"/>
                        </f:facet>
                        <h:commandButton class="w-100 btn btn-warning" value="edit" action="#{mainBean.editTermin(ter)}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="delete"/>
                        </f:facet>
                        <h:commandButton class="w-100 btn btn-warning" value="delete" action="#{ter.removeTermin(ter)}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
        </div>
    </h:body>
</html>

